.card {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 16px;
	margin: 50px;
	box-shadow: 2px 2px 12px rgba(255, 12, 12, 0.849);
}
.card .cardimage {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.card .cardtitle {
	text-align: center;
	font-size: 24px;
	color: #c63232;
}
.button {
	background-color: aqua;
	color: blanchedalmond;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
.student {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	padding: 10px;
	border: 1px solid coral;
	margin: 5px;
}
.student p {
	margin: 5px 0;
}
.welcome-msg {
	font-size: 2.5em;
	background-color: lightgreen;
	color: aliceblue;
	padding: 10px;
	border-radius: 5px;
	margin: 0;
}
.login-prompt {
	font-size: 2.5em;
	background-color: lightcoral;
	color: white;
	padding: 10px;
	border-radius: 5px;
	margin: 0;
}
.colour-picker {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.color-display {
	width: 100px;
	height: 100px;
	border: 1px solid #f9ebeb;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	margin-bottom: 25px;
	transition: 0.25s ease;
}
.color-display p {
	font-size: 1.2em;
	color: #333;
}
.todolist {
	margin: 20px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #f9f9f9;
	font-family: "Courier New", Courier, monospace;
	text-align: left;
}
.todolist button {
	background-color: #4caf50;
	color: white;
	/* padding: 10px 15px; */
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px 10px;
	transition: background-color 0.5s ease;
}
.todolist .deletebutton {
	background-color: #f44336;
}
.todolist .upbutton {
	background-color: #f6d860;
}
.todolist .downbutton {
	background-color: #60bdf6;
}
.todolist button:hover {
	background-color: #020101;
}
